{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}?v=2">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<nav>
    <div class="container-h">
        <div><a href="{% url 'about' %}" class="nav-button">About</a></div>
        <div><a href="{% url 'menu' %}" class="nav-button">Menu</a></div>
    </div>
</nav>

<body>
    <div class="grid-container">
        <div class="grid-container">
            <div class="relative group bg-[#17BEBB] bg-fixed bg-left rounded-tl-full text-right hover:bg-blue-500 transition-all text-2xl overflow-hidden shadow-[inset_0_2px_8px_rgba(0,0,0,0.6)]"
                id="Mulai">
                <div
                    class="absolute inset-0 bg-black/50 opacity-0 group-hover:opacity-80 group-hover:text-white transition-all">
                    Start
                </div>
            </div>
            <div class="relative group bg-[#17BEBB] bg-fixed bg-left rounded-br-full text-right hover:bg-blue-500 transition-all text-2xl overflow-hidden row-span-2 shadow-[inset_0_2px_8px_rgba(0,0,0,0.6)]"
                id="About">
                <h1>About</h1>
                <div
                    class="absolute inset-0 bg-black/50 opacity-0 group-hover:opacity-80 group-hover:text-white transition-all">
                    <h1>About</h1>
                </div>
            </div>
            <div class="bg-[#17BEBB] bg-fixed bg-left rounded-bl-full shadow-[inset_0_2px_8px_rgba(0,0,0,0.6)]">
            </div>
        </div>
        <div
            class="row-span-2 rounded-l-full bg-[url('/static/assets/bg2.png')] bg-fixed bg-left mt-8 shadow-[inset_0_2px_8px_rgba(0,0,0,0.6)]">
            <div class="container-v">
                <img src="{% static 'assets/nice-nature-uniform.png' %}" alt=""
                    class="w-auto h-full absolute hover:scale-110 transition-all">
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="bg-[#17BEBB] col-span-2 rounded-[60px] shadow-lg">

        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>