{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}?v=2">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<nav>
 <div class="container-h">
     <div><a href="{% url 'about' %}" class="nav-button">About</a></div>
     <div><a href="{% url 'menu' %}" class="nav-button">Menu</a></div>
 </div>
</nav>
<body>
    <div class="grid-container">
        <div class="row-span-2">
            <div class="container-v">
                <h1>NiceNatureBiniGwe.com</h1>
                <button id="Mulai" class="bg-[#17BEBB] text-white rounded-full w-1/2 shadow-lg hover:bg-white hover:text-[#17BEBB] transition-all"> Mulai</button>
            </div>
        </div>
        <div class="row-span-2 rounded-l-full bg-[#17BEBB] mt-8 shadow-lg " >
            <div class="container-v"> 
            <img src="{% static 'assets/nice-nature-uniform.png' %}" alt="" class="w-auto h-full absolute">
            </div>
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>